appdirs==1.4.4
argcomplete==1.12.0
astroid==2.4.2
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.9.1
black==19.10b0
bokeh==2.2.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cycler==0.10.0
decorator==4.4.2
distro==1.5.0
html5lib==1.0.1
idna==2.9
importlib-metadata==1.7.0
iniconfig==1.0.1
ipython==7.15.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.0
Jinja2==2.11.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
line-profiler==3.0.2
llvmlite==0.33.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
memory-profiler==0.57.0
mnist==0.2.2
more-itertools==8.5.0
mypy==0.781
mypy-extensions==0.4.3
numba==0.50.1
numpy==1.18.5
oauthlib==3.1.0
packaging==20.4
pandas==1.0.5
parso==0.7.0
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pipx==0.15.5.1
pluggy==0.13.1
prompt-toolkit==3.0.5
psutil==5.7.2
ptpython==3.0.5
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pylint==2.5.3
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.6.8
requests==2.23.0
requests-oauthlib==1.3.0
scipy==1.5.2
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
twython==3.8.2
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
userpath==1.4.1
wcwidth==0.2.4
webencodings==0.5.1
wrapt==1.12.1
zipp==3.1.0
